services:
  api_db:
    build: ./bbdd/
    restart: always
    ports:
      - 3307:3306
    networks:
      - api_network
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

  api:
    build: ./back/server-guardias/
    restart: always
    ports:
      - 8000:8000
    depends_on:
      - api_db
    networks:
      - api_network
    environment:
      - spring.datasource.url=jdbc:mysql://api_db:3306/guardiascamp
      - spring.datasource.password=${SPRING_DATASOURCE_PASSWORD}
    volumes:
      - /home/david/.m2:/root/.m2

  web:
    build: ./front/guardias-web/
    restart: always
    ports:
      - 4200:4200
    depends_on:
      - api
    networks:
      - api_network

networks:
  api_network:

volumes:
  mysql-data:
