<div class="contenedor1">
  <div class="arriba">
    <p-dropdown placeholder="Selecciona un profesor" class="dropdown-profesor"></p-dropdown>
    <p-floatLabel class="rango">
      <p-calendar
        inputId="rango"
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true">
      </p-calendar>
      <label for="rango">Selecciona un rango</label>
    </p-floatLabel>
  </div>

  <h2 class="titulo">MAÑANAS</h2>
  <p-table
    [value]="horariosManana"
    styleClass="p-datatable-gridlines"
    class="tablas tablaM"
    [tableStyle]="{ 'max-width': '90rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>HORA</th>
        <th></th>
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIÉRCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-horario>
      <tr [ngClass]="{ 'filaGris': !horario.indice, 'filaPequena': !horario.indice }">
        <td>{{ horario.hora }}</td>
        <td>{{ horario.indice || '' }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>

  <h2 class="titulo">TARDES</h2>
  <p-table
    [value]="horariosTarde"
    styleClass="p-datatable-gridlines"
    class="tablas tablaT"
    [tableStyle]="{ 'max-width': '90rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>HORA</th>
        <th></th>
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIÉRCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-horario>
      <tr [ngClass]="{ 'filaGris': !horario.indice, 'filaPequena': !horario.indice }">
        <td>{{ horario.hora }}</td>
        <td>{{ horario.indice || '' }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>

  <div class="contenedor2">
    <div class="tablas">
      <h2 class="titulo">DEBERES</h2>
      <p-table
        [value]="asignaturasSeleccionadas"
        styleClass="p-datatable-gridlines"
        class="tablas tabla2"
        [tableStyle]="{ 'max-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>DEBERES</th>
            <th>ASIGNATURA</th>
            <th>HORA</th>
            <th>DÍA</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-asignatura>
          <tr>
            <td><p-checkbox [(ngModel)]="asignatura.seleccionado"></p-checkbox></td>
            <td>{{ asignatura.nombre }}</td>
            <td>{{ asignatura.hora }}</td>
            <td>{{ asignatura.dia }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="botones">
      <button pButton label="Cancelar" class="p-button-danger"></button>
      <button pButton label="Guardar" class="p-button-success"></button>
    </div>
  </div>
</div>