<div class="app-layout">
    <app-header></app-header>
    <div class="main-section">
        <div class="p-2.rem bg-white flex flex-column align-items-center text-xl">
            <p-dropdown placeholder="Selecciona un profesor" class="dropdown-profesor" />
            <p-floatLabel class="border-round-md text-base">
                <p-calendar inputId="rango" [(ngModel)]="rangeDates" selectionMode="range"
                    [readonlyInput]="true"></p-calendar>
                <label for="rango">Selecciona un rango</label>
            </p-floatLabel>

            <p-accordion [multiple]="true" [activeIndex]="[0]">
                <p-accordionTab header="MAÑANAS" styleClass="w-6rem">
                    <h2 class="text-center m-4 m-0 -mr-4 m-0">MAÑANAS</h2>
                    <p-table [value]="horariosManana" styleClass="p-datatable-gridlines"
                        class="m-6 m-auto border-1 border-solid border-gray" [tableStyle]=" {'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="columnaHora">HORA</th>
                                <th></th>
                                <th class="columnaDia">LUNES</th>
                                <th class="columnaDia">MARTES</th>
                                <th class="columnaDia">MIERCOLES</th>
                                <th class="columnaDia">JUEVES</th>
                                <th class="columnaDia">VIERNES</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-horario>
                            <tr [ngClass]="{ 'filaGris': !horario.indice, 'filaPequena': !horario.indice }">
                                <td class="columnaHora">{{ horario.hora }}</td>
                                <td>{{ horario.indice || '' }}</td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>

                <p-accordionTab header="TARDES">
                    <h2>TARDES</h2>
                    <p-table [value]="horariosTarde" styleClass="p-datatable-gridlines"
                        [tableStyle]=" {'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="columnaHora">HORA</th>
                                <th></th>
                                <th class="columnaDia">LUNES</th>
                                <th class="columnaDia">MARTES</th>
                                <th class="columnaDia">MIERCOLES</th>
                                <th class="columnaDia">JUEVES</th>
                                <th class="columnaDia">VIERNES</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-horario>
                            <tr [ngClass]="{ 'filaGris': !horario.indice, 'filaPequena': !horario.indice }">
                                <td class="columnaHora">{{ horario.hora }}</td>
                                <td>{{ horario.indice || '' }}</td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                                <td class="columnaDia"></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>

            <h2>DEBERES</h2>
            <p-table [value]="asignaturasSeleccionadas" styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ASIGNATURA</th>
                        <th>HORA</th>
                        <th>DÍA</th>
                        <th>DEBERES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-asignatura>
                    <tr>
                        <td>{{ asignatura.nombre }}</td>
                        <td>{{ asignatura.hora }}</td>
                        <td>{{ asignatura.dia }}</td>
                        <td><p-checkbox [(ngModel)]="asignatura.deberes" [binary]="true" /></td>
                    </tr>
                </ng-template>
            </p-table>

            <button pButton pRipple label="Guardar" class="p-button-success"></button>
            <button pButton pRipple label="Cancelar" class="p-button-danger"></button>
        </div>
    </div>
</div>