@import "primeicons/primeicons.css";

body {
  background-color: #95d3d1;
  margin: 0;
  padding: 0;
}

.p-accordion {
  border-color: transparent;
}

.p-accordion-content {
  padding: 0.5rem;
}

.p-accordion-header-link {
  background-color: #e9ecef;
  margin-top: 0.5rem;
  border-radius: 6px;
  /* border: 1px solid black; */
}

.p-accordion-header-link:hover {
  background-color: #efece9;
}

.p-sidebar-content {
  padding: 0rem;
}

.p-sidebar-left {
  height: calc(100vh - 10px);
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  flex-shrink: 0;
}

.main-section {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  border: 10px solid #95d3d1;
  height: 100vh;
  overflow: auto;
}

.bg-dark {
  background-color: #333333;
}

.p-panel-header {
  background-color: white;
  font-size: 1.5rem;
}

.p-panel-content {
  padding: 0;
}

.p-selectbutton {
  padding: 0.3rem;
  background-color: var(--surface-200);
  border-radius: 6px;
}

.p-selectbutton .p-button {
  background-color: var(--surface-200);
  border: none;
  color: var(--surface-600);
}

.p-selectbutton .p-highlight {
  background-color: white;
  border-radius: 6px;
  color: black;
}
