@import "primeicons/primeicons.css";

body {
  background-color: #95d3d1;
  margin: 0;
  padding: 0;
}

.p-accordion {
  // background-color: #333333;
  border-color: transparent;
}

.p-sidebar-content {
  padding: 0rem;
}

.p-sidebar-left {
  height: calc(100vh - 10px);
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  flex-shrink: 0;
}

.main-section {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  border: 10px solid #95d3d1;
  height: 100vh;
  overflow: auto;
}

.bg-dark {
  background-color: #333333;
}