<div class="app-layout">
  <app-header></app-header>
  <div class="main-section">
    <p-confirmDialog />
    <p-toast />
    <p-dialog
      header="Editar incidencia"
      [modal]="true"
      [(visible)]="dialogVisible"
      [style]="{ width: '25rem' }"
    >
      <div
        class="flex align-items-center flex-column justify-content-center gap-3 mb-5"
      >
        <span class="p-text-secondary block mb-5"
          >Actualizar incidencia de la guardia</span
        >
        <textarea
          rows="5"
          cols="30"
          class="w-full"
          pInputTextarea
          [(ngModel)]="incidencia"
        >
        </textarea>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancelar"
          severity="danger"
          (onClick)="dialogVisible = false"
        />
        <p-button label="Guardar" (onClick)="addIncidencia()" />
      </div>
    </p-dialog>
    <div class="card flex justify-content-center mb-3">
      <div class="w-4 flex justify-content-start">
        <p-button
          *ngIf="isAdmin"
          label="Vista administrador"
          (onClick)="router.navigate(['cuadrante-direccion'])"
          severity="info"
        />
      </div>
      <div class="w-4 flex justify-content-center">
        <p-selectButton
          [options]="dias"
          [(ngModel)]="dia"
          optionLabel="name"
          optionValue="value"
          allowEmpty="false"
          styleClass="w-max"
        />
      </div>
      <div class="w-4"></div>
    </div>
    <p-accordion [multiple]="true" id="accordion" [activeIndex]="activeIndex">
      <p-accordionTab
        *ngFor="let intervalo of intervalos"
        [header]="getNombreHora(intervalo.id)"
      >
        <p-table
          [value]="getCuadrantes(intervalo.id)"
          styleClass="p-datatable-gridlines"
          [id]="'hora-' + intervalo.id"
          [loading]="!cuadrantesLoaded"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Rol</th>
              <th class="text-center">Profesor</th>
              <th class="text-center">Guardias</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cuadrante>
            <tr>
              <td class="text-center">{{ cuadrante.cargo.nombre }}</td>
              <td class="text-center">
                <p-button
                  [label]="cuadrante.guardia.profesor.nombre"
                  [link]="true"
                  (onClick)="mostrarInfoProf(cuadrante.guardia.profesor)"
                ></p-button>
              </td>
              <td>
                <p-table
                  [value]="cuadrante.faltas"
                  styleClass="p-datatable-gridlines p-0"
                  [id]="'faltas-hora-' + intervalo.id"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center">Firmar</th>
                      <th class="text-center">Profesor ausente</th>
                      <th class="text-center">Aula</th>
                      <th class="text-center">Grupo</th>
                      <th class="text-center">Deberes</th>
                      <th class="text-center">Incidencias</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-falta>
                    <tr>
                      <td class="text-center">
                        <div
                          *ngIf="
                            user?.email === cuadrante.guardia.profesor.email
                          "
                        >
                          <p-button
                            *ngIf="!falta.firma"
                            label="Firmar"
                            severity="info"
                            (onClick)="firmarCuadrante(cuadrante.id, falta.id)"
                            [loading]="firmando"
                          ></p-button>
                          <p-button
                            *ngIf="falta.firma"
                            label="Firmado"
                            severity="info"
                            disabled="true"
                          ></p-button>
                        </div>
                      </td>
                      <td class="text-center">
                        {{ falta.sesion.profesor.abreviacion }}
                      </td>
                      <td class="text-center">
                        {{ falta.sesion.aula.nombre }}
                      </td>
                      <td class="text-center">
                        {{ falta.sesion.grupo?.nombre || "Sin grupo" }}
                      </td>
                      <td class="text-center">
                        <span
                          *ngIf="falta.deberes"
                          class="pi pi-check-circle text-green-500"
                        ></span>
                        <span
                          *ngIf="!falta.deberes"
                          class="pi pi-times-circle text-red-500"
                        ></span>
                      </td>
                      <td class="text-center">
                        <div
                          class="flex flex-row justify-content-center gap-2"
                          *ngIf="
                            user?.email === cuadrante.guardia.profesor.email
                          "
                        >
                          <p-button
                            *ngIf="falta?.incidencias"
                            label="Ver incidencia"
                            severity="info"
                            (onClick)="mostrarIncidencia(falta.incidencias)"
                          ></p-button>
                          <p-button
                            *ngIf="!falta?.incidencias"
                            label="Ver incidencia"
                            severity="info"
                            (onClick)="mostrarIncidencia('Sin incidencias')"
                          ></p-button>
                          <p-button
                            label="Editar incidencia"
                            severity="info"
                            (onClick)="
                              showIncidenciaDialog(cuadrante.id, falta.id)
                            "
                          ></p-button>
                        </div>
                        <div
                          *ngIf="
                            user?.email !== cuadrante.guardia.profesor.email
                          "
                        >
                          {{ falta?.incidencias || "Sin incidencias" }}
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
