<div class="app-layout">
  <app-header></app-header>
  <div class="main-section">
    <p-panel header="Primera hora" [toggleable]="true">
      <p-table [value]="getCuadrantes('L', 1)" styleClass="p-datatable-gridlines" id="primera-hora">
        <ng-template pTemplate="header">
          <tr>
            <th>Rol</th>
            <th>Profesor</th>
            <th>Guardias</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cuadrante>
          <tr>
            <td>{{ cuadrante.cargo.nombre }}</td>
            <td>{{ cuadrante.guardia.profesor.abreviacion }}</td>
            <td>{{ cuadrante.faltas }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
