<div class="app-layout">
    <app-header></app-header>
    <div class="main-section">
        <div class="">
            <div class="">
                <input id="nombre" type="text" pInputText placeholder="Nombre"
                    class=""
                    [(ngModel)]="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]{1,50}" required />
            </div>
            <div class="">
                <input id="apellidos" type="text" pInputText placeholder="Apellidos"
                    class=""
                    [(ngModel)]="apellidos" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]{1,50}" required />
            </div>
        </div>

        <div class="">
            <div class="">
                <input id="contrasenia" type="password" pInputText placeholder="Contraseña"
                    class=""
                    [(ngModel)]="contrasenya" pattern=".{6,}" required />
            </div>
            <div class="">
                <input id="nif" type="text" pInputText placeholder="NIF"
                    class=""
                    [(ngModel)]="nif" pattern="[0-9]{8}[A-Za-z]" required />
            </div>
        </div>

        <div class="">
            <div class="">
                <input id="direccion" type="text" pInputText placeholder="Dirección"
                    class=""
                    [(ngModel)]="direccion" pattern=".{1,100}" required />
            </div>
            <div class="">
                <input id="email" type="email" pInputText placeholder="Correo electrónico"
                    class=""
                    [(ngModel)]="email" required />
            </div>
        </div>

        <div class="">
            <div class="">
                <input id="telefono" type="text" pInputText placeholder="Teléfono"
                    class=""
                    [(ngModel)]="telefono" pattern="[0-9]{9}" required />
            </div>
            <div class="">
                <p-dropdown id="sustituye" [options]="profesores" optionLabel="nombre"
                    placeholder="Sustituye a..." [(ngModel)]="sustituye"
                    class="p-dropdown-lg w-full border-1 border-gray-300"></p-dropdown>
            </div>
        </div>

        <div class="p-d-flex p-jc-end p-gap-4 p-mt-6">
            <button pButton label="Cancelar" class="p-button-danger p-button-lg w-10rem text-lg"
                (click)="cancelar()"></button>
            <button pButton label="Guardar" class="p-button-success p-button-lg w-10rem text-lg"
                (click)="guardar()"></button>
        </div>
    </div>
</div>