<div class="app-layout">
    <app-header></app-header>
    <div class="main-section">
        <div class="flex justify-content-between align-items-center mb-4">
            <div class="flex align-items-center w-full max-w-20rem">
                <span class="p-input-icon-right w-full">
                    <input pInputText type="text" [(ngModel)]="valorBusqueda" (input)="buscador()"
                        placeholder="Buscador"
                        class="p-inputtext-lg border-round-lg border-1 surface-border px-3 py-2 shadow-2" />
                    <i class="pi pi-search text-xl mr-7"></i>
                </span>
            </div>
            <div class="flex align-items-center gap-3">
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-lg text-xl"
                    label="Eliminar seleccionados" [disabled]="profesorSeleccionado.length === 0"
                    (click)="deleteSeleccionado()"></button>
                <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                    class="p-button-primary p-button-lg w-9rem text-xl" (click)="altaProfesor()"></button>
            </div>
        </div>

        <p-table #table [value]="filtrarProfesores" (onPage)="seleccionarPagina()" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" class="text-lg w-9"
            [(selection)]="profesorSeleccionado" [rowHover]="true" [styleClass]="'custom-table'"
            (onRowSelect)="filaSeleccionada($event.data)" (onRowUnselect)="filaNoSeleccionada($event.data)"
            (onHeaderCheckboxToggle)="headerCheckbox($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-2xl bg-gray-300 text-center">
                        <p-tableHeaderCheckbox [ngClass]="{'p-highlight': checkboxTh}"></p-tableHeaderCheckbox>
                    </th>
                    <th class="text-2xl bg-gray-300 text-center">Id</th>
                    <th class="text-2xl bg-gray-300 text-center">Nombre</th>
                    <th class="text-2xl bg-gray-300 text-center">Apellidos</th>
                    <th class="text-2xl bg-gray-300 text-center">NIF</th>
                    <th class="text-2xl bg-gray-300 text-center">Email</th>
                    <th class="text-2xl bg-gray-300 text-center">Teléfono</th>
                    <th class="text-2xl bg-gray-300 text-center">Eliminar</th>
                    <th class="text-2xl bg-gray-300 text-center">Modificar</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-profesor>
                <tr [pSelectableRow]="profesor">
                    <td class="text-center">
                        <p-tableCheckbox [value]="profesor"></p-tableCheckbox>
                    </td>
                    <td class="text-xl text-center">{{ profesor.id }}</td>
                    <td class="text-xl text-center">{{ profesor.nombre }}</td>
                    <td class="text-xl text-center">{{ profesor.apellidos }}</td>
                    <td class="text-xl text-center">{{ profesor.nif }}</td>
                    <td class="text-xl text-center">{{ profesor.email }}</td>
                    <td class="text-xl text-center">{{ profesor.telefono }}</td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-trash"
                            class="text-sm p-button-danger p-button-icon-only p-2" (click)="delete(profesor)"
                            pTooltip="Eliminar"></button>
                    </td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-pencil"
                            class="text-sm p-button-primary p-button-icon-only p-2" pTooltip="Modificar" (click)="editarProfesor(profesor)"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="text-center text-2xl">
                        No se encontraron profesores.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>