<body>
  <div class="container">
    <div class="login-section">
      <h2>Inicio de sesión</h2>

      <hr />
      <div class="flex-container">
        <div class="formulario">
          <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="inputUsuario">
              <p-inputGroup>
                <p-inputGroupAddon >
                  <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Introduce tu Email o NIF" formControlName="emailOrNif" />
              </p-inputGroup>

              <div class="contenedorError">
                <p-message
                  *ngIf="loginForm.get('emailOrNif')?.hasError('required') && (loginForm.get('emailOrNif')?.touched || loginForm.get('emailOrNif')?.dirty)"
                  severity="error" text="Este campo es obligatorio"></p-message>
                <p-message
                  *ngIf="loginForm.get('emailOrNif')?.hasError('emailOrNifInvalid') && loginForm.get('emailOrNif')?.dirty"
                  severity="error" text="Introduce un email o un NIF válido"></p-message>
              </div>
            </div>

            <div class="inputContraseña">
              <p-inputGroup>
                <p-inputGroupAddon>
                  <i class="pi pi-key"></i>
                </p-inputGroupAddon>
                <input pInputText type="password" placeholder="Contraseña" formControlName="password" />
              </p-inputGroup>

              <div class="contenedorError">
                <p-message
                  *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
                  severity="error" text="La contraseña es obligatoria"></p-message>
                <p-message *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.dirty"
                  severity="error" text="La contraseña debe tener al menos 6 caracteres"></p-message>
                <div class="contenedorDobleError">
                  <p-message *ngIf="loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.dirty"
                    severity="error" text="La contraseña debe incluir al menos un número y una letra"></p-message>
                </div>
              </div>
            </div>

            <div id="checkboxRecordar">
              <p-checkbox formControlName="rememberMe" id="rememberme" [binary]="true"></p-checkbox>
              <label class="recuerdame ml-1">Recuérdame</label>
            </div>

            <button pButton pRipple type="submit" class="colorBtn p-element p-ripple w-full p-3 p-button p-component">
              <span class="p-button-label">Entrar</span>
            </button>
          </form>

          <div class="olvidadoContra">
            <a href="#">¿Has olvidado la contraseña?</a>
          </div>
        </div>

        <div class="noTienesCuenta">
          <p-divider align="center" styleclass="my-6" class="separador">
            <div role="separator">
              <div class="p-divider-content">
                <span class="textoDivider">¿No tienes cuenta?</span>
              </div>
            </div>
          </p-divider>

          <p-inputGroup class="espacioBoton">
            <p-inputGroupAddon class="iconoFondo">
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <button type="button" pRipple class="avisarAdmin">Avisar a un administrador</button>
          </p-inputGroup>

          <div class="entrarSinSesion">
            <a [routerLink]="['/cuadrante']">Entrar sin iniciar sesión</a>
          </div>

        </div>
      </div>
    </div>

    <div class="imagenInstituto"></div>
  </div>
</body>
